@inject NavigationManager NavigationManager

<button @onclick="EditGame" type="button" class="ml-2 px-3 py-2 text-s font-medium text-center inline-flex items-center text-gray-900 bg-amber-100 rounded-lg hover:bg-amber-500 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-amber-100 dark:hover:bg-amber-500 dark:focus:ring-blue-800 hover:text-amber-100">
    Edit Stats
    <svg class="ml-1 w-6 h-6 text-gray-800 dark:text-gray-900" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 14v4.833A1.166 1.166 0 0 1 16.833 20H5.167A1.167 1.167 0 0 1 4 18.833V7.167A1.166 1.166 0 0 1 5.167 6h4.618m4.447-2H20v5.768m-7.889 2.121 7.778-7.778"/>
    </svg>
</button>
@code {
    [Parameter]
    public int Id { get; set; }

    void EditGame()
    {
        NavigationManager.NavigateTo($"/edit-game/{Id}");
    }
}