<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/8af4718b-2ed1-4171-8372-e26e3f6b2242/resourcegroups/TheBazzarTest20240723205546ResourceGroup/providers/Microsoft.Web/sites/TheBazzarTest20240723225955</ResourceId>
    <ResourceGroup>TheBazzarTest20240723205546ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://thebazzartest20240723225955.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>1bed210d-1c5c-45c1-be54-99708f284bc6</ProjectGuid>
    <PublishUrl>https://thebazzartest20240723225955.scm.azurewebsites.net/</PublishUrl>
    <UserName>$TheBazzarTest20240723225955</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>