@page "/"
@page "/view-accounts"
@using Microsoft.AspNetCore.Components.QuickGrid
@using TheBazzarTest.Components.Shared
@using TheBazzarTest.Entity
@using TheBazzarTest.Services
@inject IGameService GameService

<h3>Users Stats</h3>

@if (_games == null)
{
    <span>Loading...</span>
}
else if (_games.Count == 0)
{
    <span>No user accounts found.</span>
}
else
{
    <div class="md:container md:mx-auto ">
     
   
    <div class="p-4 bg-gray-900 border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">

        <QuickGrid Items="@(_games.AsQueryable())" class="bg-gray-600 text-amber-100 table table-striped">
            <PropertyColumn Property="@(game => game.Username)" Title="Username"/>
            <TemplateColumn Title="Edit">
                <EditGameButton Id="@context.Id"/>
            </TemplateColumn>
            <TemplateColumn Title="View">
                <ViewUserStatsButton Id="@context.Id"/>
            </TemplateColumn>
        </QuickGrid>
    </div>
    </div>
}
<div class="mt-4">
<CreateGameButton/>
</div>

@code {
    List<Game>? _games;

    protected override async Task OnInitializedAsync()
    {
        _games = await GameService.GetAllGames();
    }
}